body {
    background-color: whitesmoke;
}

h3 {
    font-weight: bold;
    color: #337AB7;
}

.col-md-6, .col-md-12 {
    padding-left: 50px;
    padding-right: 50px;
}

#navbar {
    padding-top: 60px;
    padding-bottom: 40px;
}

.selected {
    background-color: #337AB7;
    color: white;
}

#navbar a {
    padding: 10px;
    font-size: large;
    border: 1px solid #337AB7;
    background-color: none;
}

#navbar span {
    padding: 40px;
}

.page-header {
    padding-bottom: 30px;
}

.monospace {
    font-family: 'Courier New', monospace;
}

.bold {
    font-weight: bold;
}

.shift-down {
    padding-top: 135px;
}

.shift-right {
    padding-left: 25px;
}

p {
    font-size: 15px;
}

.blue {
    color: #6699cc;
}

.small p {
    font-size: small;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */

.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    height: 250px;
    background-size: contain;
}
.name-block {
    padding-top: 40px;
}
.name {
    font-size: 50px;
    letter-spacing: 0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 8px 8px #337AB7, 15px 15px white;
}